#
# k2htpdtor for K2HASH TRANSACTION PLUGIN.
#
# Copyright 2015 Yahoo Japan corporation.
#
# K2HASH TRANSACTION PLUGIN is programmable I/F for processing
# transaction data from modifying K2HASH data.
#
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Thu Feb 26 2015
# REVISION:
#

#
# Compiled Object files
#
*.slo
*.lo
*.o
*.Po
*.Plo

#
# Precompiled Headers
#
*.gch
*.pch

#
# Compiled Dynamic libraries
#
*.so
*.so.*
*.dylib
*.dll

#
# Fortran module files
#
*.mod

#
# Compiled Static libraries
#
*.lai
*.la
*.a
*.lib

#
# Executables
#
*.exe
*.out
*.app

#
# autotools
#
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4
m4/*
missing
stamp-h1

#
# automakes
#
Makefile.in
Makefile
Dockerfile
buildutils/Dockerfile.templ

#
# archive files and backups
#
*.tgz
*.tar.gz
*.rpm
*.deb
*.swp

#
# object directories
#
.deps
.libs
*/.deps
*/.deps/*
*/.libs
*/.libs/*

#
# other files
#
compile
compile/*
test-driver
test-driver/*
.dirstamp

#
# Other built objects
#
RELEASE_VERSION
COMMIT_HASH
*.pc
*.spec
*.k2h
buildutils/control
buildutils/copyright
rpmbuild
rpmbuild/*
debian
debian/*
debian_build
debian_build/*
lib/k2htpdtorversion.cc
src/k2htpdtorsvrversion.cc
src/k2htpdtorsvr
tests/results.xml
tests/k2htpdtorserver
tests/k2htpdtorclient
tests/dtor_test.sh.log
tests/dtor_test.sh.trs
tests/test-suite.log

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
